PG_SUPERUSER=postgres
PG_SUPERUSER_PASSWORD=your_superuser_password
CATALOGO_DB_PASSWORD=your_catalogo_db_password
INVENTARIO_DB_PASSWORD=your_inventario_db_password
CLIENTES_DB_PASSWORD=your_clientes_db_password
PEDIDOS_DB_PASSWORD=your_pedidos_db_password
REPORTES_DB_PASSWORD=your_reportes_db_password
DOCKERHUB_USER=your_dockerhub_user
TAG=latest
